{% extends 'base.html.twig' %}

{% block title %}Le monde, c'est quinze petits points - Mentions légales
{% endblock %}

{% block body %}

<!------------------------------ Legal navbar ------------------------------>

<div class="header-navbar">
  <ul class="header-navbar-list">
    <li class="header-navbar-item"><a href="{{ path('app_index') }}">Retour à l'accueil</a></li>
  </ul>
</div>

<!------------------------------ LEGAL ------------------------------>

<h2 class="index-titles">Mentions légales</h2>
<h3 class="index-subtitles">Éditeur du site&nbsp:</h3>
<p class="project-text">Marilou Zaiser<br>Ulmenweg 1<br>91054 Erlangen, Allemagne<br><br>contact@15-petits-points.fr</p>
<h3 class="index-subtitles">Responsable de la publication&nbsp:</h3>
<p class="project-text">Marilou Zaiser</p>
<h3 class="index-subtitles">Hébergeur du site&nbsp:</h3>
<p class="project-text">O2SWITCH<br>222-224 Boulevard Gustave Flaubert<br>63000 Clermont-Ferrand<br>France<br><br>www.o2switch.fr</p>
<h3 class="index-subtitles">Propriété intellectuelle&nbsp:</h3>
<p class="project-text">L'ensemble des éléments figurant sur ce site (textes, photographies, illustrations, vidéos, etc.), à l'exception des éléments appartenant à des tiers et utilisés avec leur autorisation, sont la propriété exclusive de Marilou Zaiser. Toute reproduction, représentation, modification, publication, transmission, dénaturation, totale ou partielle, du site ou de son contenu, par quelque procédé que ce soit, et sur quelque support que ce soit, est interdite, sauf autorisation expresse et préalable de Marilou Zaiser.</p>
<h3 class="index-subtitles">Icônes&nbsp:</h3>
<p class="project-text">Certaines icônes utilisées sur ce site sont fournies par Iconify et sont utilisées sous licence Creative Commons BY 4.0, avec attribution à Dave Gandy.</p>
<h3 class="index-subtitles">Polices de caractères&nbsp:</h3>
<p class="project-text">Les polices de caractères Fredoka, designée par Milena Brandão (Hafontia), et Luciole, conçue par Laurent Bourcellier & Jonathan Perez, sont utilisées sur ce site. La police Fredoka est distribuée sous l'Open Font License (OFL). La police Luciole est également distribuée sous Licence publique Creative Commons Attribution 4.0 International. Vous pouvez consulter la licence complète de cette police adaptée aux déficiences visuelles sur le site suivant&nbsp: www.luciole-vision.com.</p>
<h3 class="index-subtitles">Liens vers les réseaux sociaux&nbsp:</h3>
<p class="project-text">Ce site peut contenir des liens vers le compte Instagram du projet, où sont publiées des mises à jour sur ce dernier. Marilou Zaiser est responsable du contenu publié sur ce compte Instagram.</p>
<h3 class="index-subtitles">Développement du site&nbsp:</h3>
<p class="project-text">Ce site a été développé en collaboration avec La Souris Rousse. Pour toute question concernant le développement ou le fonctionnement du site, veuillez contacter Marilou Zaiser à l'adresse email mentionnée ci-dessus.</p><br>

{% endblock %}